.adver-link{
    text-decoration:none;
    color: black;
}
.adver-link:hover{
    text-decoration:none;
    color: black;
}
.adver-content > .adver-image{
    width:50%;
        
    position: relative;
    float:right;
    border-color: #00578f;
    border-radius: 4px;
    box-shadow: 0 1px 2px 1px #00578f;
}
.adver-content > .adver-image > img{
    width:100%;
    min-height: 205px;
}
.adver-content > .adver-description{
    width:50%;
    min-height: 205px;
    position: relative;
    float:right;
    border-color: #00578f;
    border-radius: 4px;
    box-shadow: 0 1px 2px 1px #00578f;
    background-color:white;
}
.adver-content > .adver-description > h1{
    font-size:15px;
    font-weight:bold;
    margin-top: 10px;
    margin-top: 10px;
}
.adver-content > .adver-description > h2{
    font-size:14px;
    margin-top: 10px;
    margin-top: 10px;
    font-weight:normal;
}