.details{
        background-image:url("../../Content/shared_images/background.jpg") !important;
        background-repeat:repeat;
}
@media only screen and (min-width: 985px) {
    .container.body-content {
        min-height: 550px;
    }
    .row.details .content.left{
        margin-right:40px;
    }
}
@media only screen and (max-width: 985px) {
    .row.details > .col{
        margin-top:30px;
    }
}
    .row.details .col{
        padding: 0 !important;
    }
.row.details .content{
    border: 2px solid #003765;
    border-radius:5px;
}
.row.details .caption{
    height:25px;
    width:100%;
    font-size:16px;
    background-color:#003765;
    color: white;
}
.row.details .inner_content{
    padding: 15px;
    background-color:white;
}
.detailTbl{
    border-color:#51AD94;
    width:100%;
}
.detailTbl td{
    padding:6px;
    font-size:large;
}
@media only screen and (max-width: 765px){
    .detailTbl td{
        padding:5px;
        font-size:13px;
    }
}
.detailTbl .title-cell{
    background-color:#00578f;
    color: white;
    max-width:85px;
}
.detailTbl label{
    font-weight:normal;
}
.detailTbl .red{
    font-weight:bold;
    font-size:large;
    color: #C60300;
}
.content .thumb-img{
    width:100%;
    min-height:100px;
    max-height:120px;
    cursor:pointer;
}
.content .red-title{
    margin-top: 0 !important;
    margin-bottom:10px;
    color: red;
}
.content .red-title:before{
    content: "★";
}
.tag{
    background-color:#00578f;
    border-radius:9px;
    min-width:75px;
    text-align:center;
    color:white;
    font-size:12px;
    font-weight:normal;
}
.content.left{
    font-size:17px;
}
.nav-tabs > li > a{
    background-color:white;
    border: 1px solid #003765;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color:#003765;
    color: white;
}
.tab-content{
    background-color:white;
}
.tab-content > .tab-pane > img{
    width:100%;
}
.tab-content > div{
    height:300px;
}
table.other-features{
    width: 95%;
    border-color:#51AD94;
    font-size:medium;
    margin:0 auto;
}
.other-features td{
    max-width:60px;
    text-align:center;
}
.other-features .title > td{
    background-color:#00578f;
    color: white;
}
@media only screen and (max-width: 765px){
    table.other-features {
        font-size:small !important;
    }
}
.feedback > table{
    width:100%;
}
.feedback > table .fblabel{
    width:120px;
}
.feedback td{
    padding:4px;
}
.feedback label{
    font-weight:normal;
    font-size:small;
    margin-right:20px;
}
.feedback input, .feedback textarea{
    width:100%;
}
.feedback textarea{
    min-height:100px;
}
.agent_img{
    position:absolute;
    left:30px;
    width:90px;
    height:90px;
}
.row.items{
    background-color:#FCFFE5;
    margin:0 auto;
    margin-bottom:3px;
    border-radius:5px;
    min-height:30px;
    vertical-align:central;
    font-style:normal !important;
    padding-top:5px;
}
.row.items a{
    color: black;
}
.row.items a:hover{
    text-decoration:none;
    color:#00578f;
}
.row.items i{
    font-size:15px;
    font-style:normal !important;
}
.row.items a.disabled { 
    color:gray; 
    cursor:default;
    text-decoration:none;
}
#img_slider .close{
    position: fixed;
    right: 15px;
    top: 100px;
    color: white;
    font-size:20px;
}

@media only screen and (max-width: 765px){
    #img_slider .close{
        top:60px;
    }
}

#sliderFrame {
    margin: 110px auto 0 !important;
    width: 50% !important;
}