.row.search{
    background-image:url("../../Content/shared_images/background.jpg") !important;
    background-repeat:repeat;
}
.search-section{
    background:white;
    width:80%;
    margin: 0 auto;
}
.row.search-section .content{
    border: 2px solid #003765;
    border-radius:5px;
    min-height:200px;
}
.row.search-section .caption{
    height:35px;
    width:100%;
    font-size:20px;
    background-color:#003765;
    color: white;
}
.search-fields{
    padding:15px;
}
.search-fields > .row{
    margin-bottom: 25px;
}
.search-fields select{
    min-height:35px;
    width:100%;
    font-size:15px;
        
}
.search-fields span{
    font-size:16px;
}
.search-fields input.long_input{
    width:100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #C1C1C1;
    text-align:right;
}
.advanced-section{
    display:none;
}
.result-section{
    width:90%;
    margin:20px 0 0 0;
    margin: 0 auto;
}
.summery{
    background-color:#FCFFE5;
    margin:0 auto;
    width:100%;
    border-radius:5px;
    min-height:30px;
    font-size:16px;
    vertical-align:central;
    font-style:normal !important;
    padding:5px;
}
.show-type{
    display:inline;
    float:left;
}
.show-type > a{
    color: black;
}
.show-type > a.active{
    color:#428bca;
}
.show-type > a:hover{
    text-decoration:none;
    cursor:pointer;
}
.search-customize{
    margin-top:12px;
}
.estate{
    margin-top: 10px;
    width:100%;
    border-radius:5px;
    padding:5px;
    background-color:white;
    min-height:135px;
    border: 2px ridge black;
    overflow:hidden;
    position:relative;
}
.estate img{
    width:100%;
    min-height:120px;
    max-height: 100px;
    max-width:190px;
}
.img-count{
    max-width:190px;
}
.estate .header{
    font-weight:bold;
    font-size:21px;
    color: #c60300;
}
.estate .sub-header{
    font-weight:normal;
    font-size:17px;
    color: black;
}
.estate-table-view{
    margin-top:10px;
    width:100%;
    font-size: 17px;
    display:none;
}
.estate-table-view tr{
    min-height:25px;
}
.estate-table-view th{
    color: white;
    padding:6px;
    background-color:#2972b1;
    font-weight:normal;
    text-align:center;
}
.estate-table-view td{
    background-color:white;
    text-align:center;
    padding:6px;

}
.page-separator{
    width:10%;
    background-color: #2972b1;
    color: white;
    max-height:20px;
    margin-top: 10px;
    text-align:center;
}
.goto_details{
    background-color: #428bca;
    border-color: #357ebd;
    color: #ffffff;
    margin: -5px 0 0 -5px;
    height:100%;
    position:absolute;
    left: 0;
    text-align:center;
    padding: 25px 14px 0 14px;
    cursor: pointer;
}
.goto_details:hover{
    background-color: #2972b1;
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 985px){
    .goto_details{
        margin: 5px 0 0 0;
        max-height: 40px;
        width:100%;
        bottom:-5px;
        padding: 0 14px 0 14px;
        position: relative
    }
    .estate{
        text-align:center;
    }
}
@media only screen and (max-width: 1265px){
    .goto_details{
        padding: 5px 4px 0 14px;
    }
}
.number.normal{
    font-weight:normal;
    font-size:15px;
}
.favourite:hover{
    cursor:pointer;
}
#fetchMore{
    min-width:140px;
    font-size:17px;
    font-weight:bold;
    margin:20px;
    border:2px ridge #00578f;
}