
@{
    ViewBag.Title = "پنل کاربری";
    Layout = "~/Views/Shared/_ManagementPanelLayout.cshtml";
    string role_id = ViewData["user_role_id"].ToString();
}

<link href="~/Content/simple-sidebar.css" rel="stylesheet" />
<link href="~/Content/ManagementPanelStyle.css" rel="stylesheet" />

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
    </script>
}

<div id="wrapper" style="background-color:white;">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand" style="height:inherit; text-align:center; border-bottom: 1px solid white;">
                <img src='@ViewData["user_image_src"].ToString()' style="margin: 4px 0 0 45px; width: 135px;" />
            </li>
            @{
                if (role_id == "1")
                {
                    <li><a href="javascript:void(0)" onclick="render_content('mNg_dshbd', 1); return true;">داشبورد مدیریت</a></li>
                }
                if (role_id == "1" || role_id == "2")
                {
                    <li><a href="javascript:void(0)" onclick="render_content('saLe_est', 1); return true;">املاک فروشی</a></li>
                }
                if (role_id == "1" || role_id == "2")
                {
                    <li><a href="javascript:void(0)" onclick="render_content('mRtG_est', 1); return true;">املاک رهن و اجاره</a></li>
                }
                if (role_id == "1" || role_id == "2")
                {
                    <li><a href="javascript:void(0)" onclick="render_content('all_The_est', 1); return true;">همه املاک</a></li>
                    <li><a href="javascript:void(0)" onclick="render_content('arsH_est', 1); return true;">املاک آرشیو شده</a></li>
                }
                if (role_id == "1")
                {
                    <li><a href="javascript:void(0)" onclick="render_content('seE_AdverT', 1); return true;">آگهی های سایت</a></li>
                }
            }            
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row" id="content">
                <img src="~/Content/shared_images/loading.gif" style="margin:0 auto; display:block;" id="loading"/>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        //Render selected menu for user
        function render_content(content_type, page) {
            var postData = { "command": content_type, "page": page };
            if ($("#serial-input").length && $("#serial-input").val().length) {
                postData["serial"] = $("#serial-input").val();
            }
            $("#content").html('<img src="/Content/shared_images/loading.gif" style="margin:0 auto; display:block;" id="loading"/>');
            $("#loading").css('display', 'block');
            $.ajax({
                type: 'POST',
                url: "/Estate/ManagementCommand",
                dataType: 'json',
                data: postData,
                success: function (partial) {
                    $("#loading").css('display', 'none');
                    $('#content').html(partial.responseText);
                },
                error: function (data) {
                    $("#loading").css('display', 'none');
                    $("#content").html(data.responseText);
                },
            });
        }

        //Estate Management functions
        function edit_estate(id) {
            $("#content").html('<img src="/Content/shared_images/loading.gif" style="margin:0 auto; display:block;" id="loading"/>');
            $("#loading").css('display', 'block');
            var postData = { "id": id };
            $.ajax({
                type: 'POST',
                url: "/Estate/EditEstate",
                dataType: 'json',
                data: postData,
                success: function (partial) {
                    $("#loading").css('display', 'none');
                    $('#content').html(partial.responseText);
                },
                error: function (data) {
                    $("#loading").css('display', 'none');
                    $("#content").html(data.responseText);
                },
            });
        }
        function approve_estate(id, elem) {
            $(elem).html('<i class="fa fa-refresh fa-spin"></i>').attr('disabled', 'disabled');
            var flag = $(elem).attr('data-flag');
            var postData = { "id": id, "flag": flag };
            $.ajax({
                type: 'GET',
                url: "/Estate/EstateApprovement",
                dataType: 'json',
                data: postData,
                success: function (data) {
                    if (data === "Success") {
                        if (flag === "false") {
                            $(elem).html('تأیید').removeClass('btn-warning').addClass('btn-primary').removeAttr('disabled');
                            $(elem).attr('data-flag', "true");
                        }
                        else {
                            $(elem).html('رد').addClass('btn-warning').removeClass('btn-primary').removeAttr('disabled');
                            $(elem).attr('data-flag', "false");
                        }
                    }
                    else {
                        if (flag === "true")
                            $(elem).html('تأیید').removeAttr('disabled');
                        else
                            $(elem).html('رد').removeAttr('disabled');
                        alert("خطا در انجام عملیات");
                    }
                },
                error: function (data) {
                    if (flag === "true")
                        $(elem).html('تأیید').removeAttr('disabled');
                    else
                        $(elem).html('رد').removeAttr('disabled');
                    alert("خطا در ارتباط با مرکز");
                },
            });
        }
        function archive_estate(id, elem) {
            $(elem).html('<i class="fa fa-refresh fa-spin"></i>').attr('disabled', 'disabled');
            var flag = $(elem).attr('data-flag');
            var postData = { "id": id, "flag": flag };
            $.ajax({
                type: 'GET',
                url: "/Estate/EstateArchive",
                dataType: 'json',
                data: postData,
                success: function (data) {
                    if (data === "Success") {
                        if (flag === "false") {
                            $(elem).html('بایگانی').removeClass('btn-warning').addClass('btn-primary').removeAttr('disabled');
                            $(elem).attr('data-flag', "true");
                        }
                        else {
                            $(elem).html('احیا').addClass('btn-warning').removeClass('btn-primary').removeAttr('disabled');
                            $(elem).attr('data-flag', "false");
                        }
                    }
                    else {
                        if (flag === "true")
                            $(elem).html('بایگانی').removeAttr('disabled');
                        else
                            $(elem).html('احیا').removeAttr('disabled');
                        alert("خطا در انجام عملیات");
                    }
                },
                error: function (data) {
                    if (flag === "true")
                        $(elem).html('بایگانی').removeAttr('disabled');
                    else
                        $(elem).html('احیا').removeAttr('disabled');
                    alert("خطا در ارتباط با مرکز");
                },
            });
        }
        function delete_estate(id, elem) {
            var sure = confirm("آیا از حذف این ملک اطمینان دارید؟");
            if (!sure) {
                return false;
            }
            $(elem).html('<i class="fa fa-refresh fa-spin"></i>').attr('disabled', 'disabled');
            var postData = { "id": id };
            $.ajax({
                type: 'GET',
                url: "/Estate/EstateDelete",
                dataType: 'json',
                data: postData,
                success: function (data) {
                    if (data === "Success") {
                        $(".search-table-body tr[data-estateid=" + id + "]").fadeOut('slow');
                        alert('ملک مورد نظر با موفقیت حذف گردید');
                    }
                    else {
                        alert("خطا در انجام عملیات");
                    }
                },
                error: function (data) {
                    alert("خطا در ارتباط با مرکز");
                },
            });
        }

        //Addvertise Management functions
        function approve_addver(id, elem) {
            var flag = $(elem).attr('data-flag');
            $(elem).html('<i class="fa fa-refresh fa-spin"></i>').attr('disabled', 'disabled');
            var postData = { "addID": id, "flag": flag };
            $.ajax({
                type: 'GET',
                url: "/Advertise/AddvertiseApprovement",
                dataType: 'json',
                data: postData,
                success: function (data) {
                    if (data === "Success") {
                        if (flag === "false") {
                            $(elem).html('<i class="glyphicon glyphicon-ok"></i>').css('color', 'green').removeAttr('disabled').attr('title', 'تأیید آگهی');
                            $(elem).attr('data-flag', "true");
                        }
                        else {
                            $(elem).html('<i class="glyphicon glyphicon-remove"></i>').css('color', 'red').removeAttr('disabled').attr('title', 'رد آگهی');
                            $(elem).attr('data-flag', "false");
                        }
                    }
                    else {
                        if (flag === "true")
                            $(elem).html('<i class="glyphicon glyphicon-ok"></i>').removeAttr('disabled');
                        else
                            $(elem).html('<i class="glyphicon glyphicon-remove"></i>').removeAttr('disabled');
                        alert("خطا در انجام عملیات");
                    }
                },
                error: function (data) {
                    if (flag === "true")
                        $(elem).html('<i class="glyphicon glyphicon-ok"></i>').removeAttr('disabled');
                    else
                        $(elem).html('<i class="glyphicon glyphicon-remove"></i>').removeAttr('disabled');
                    alert("خطا در ارتباط با مرکز");
                },
            });
        }
        function delete_addver(id, elem) {
            var sure = confirm("آیا از حذف این آگهی اطمینان دارید؟");
            if (!sure) {
                return false;
            }
            $(elem).html('<i class="fa fa-refresh fa-spin"></i>').attr('disabled', 'disabled');
            var postData = { "addID": id };
            $.ajax({
                type: 'GET',
                url: "/Advertise/AddvertiseDelete",
                dataType: 'json',
                data: postData,
                success: function (data) {
                    if (data === "Success") {
                        $("tr[data-addverid=" + id + "]").fadeOut('slow');
                        alert('آگهی مورد نظر با موفقیت حذف گردید');
                    }
                    else {
                        alert("خطا در انجام عملیات");
                    }
                },
                error: function (data) {
                    alert("خطا در ارتباط با مرکز");
                },
            });
        }
        function extend_addver(id, elem) {
            /*var sure = confirm("آیا از تمدید این آگهی اطمینان دارید؟");
            if (!sure) {
                return false;
            }
            $(elem).html('<i class="fa fa-refresh fa-spin"></i>').attr('disabled', 'disabled');
            var postData = { "addID": id };
            $.ajax({
                type: 'GET',
                url: "/Advertise/AddvertiseDelete",
                dataType: 'json',
                data: postData,
                success: function (data) {
                    if (data === "Success") {
                        $("tr[data-addverid=" + id + "]").fadeOut('slow');
                        alert('آگهی مورد نظر با موفقیت حذف گردید');
                    }
                    else {
                        alert("خطا در انجام عملیات");
                    }
                },
                error: function (data) {
                    alert("خطا در ارتباط با مرکز");
                },
            });*/
        }

        function fix_input_formats() {
            $(".number-type").each(function () {
                var val = $(this).val().replace(/,/g, '');
                $(this).val(val);
            })
        }

        $(document).ready(function () {
            $('ul.sidebar-nav li:nth-child(2) a').trigger('click');

            $("body").on({
                keydown: function (e) {
                    if ((notInRange(e.keyCode, 48, 57) && notInRange(e.keyCode, 96, 105) && e.keyCode !== 8 && e.keyCode !== 9 && e.keyCode !== 46) || e.shiftKey) {
                        e.preventDefault();
                    }
                    return true;
                },
                keyup: function () {
                    var $self = $(this);
                    var new_val = $self.val().replace(/,/g, '');
                    $self.val(inputNumberWithCommasEnglish(new_val));
                },
                focus: function () {
                    $(this).select();
                },
                blur: function () {
                    var $self = $(this);
                    if ($self.attr('id') === 'PricePerMeter' || $self.attr('id') === 'Area') {
                        var ppm = $("#PricePerMeter").val().replace(/,/g, '');
                        var area = $("#Area").val().replace(/,/g, '');
                        var total = parseInt(ppm) * parseInt(area);
                        if (total)
                            $("#TotalPrice").val(inputNumberWithCommasEnglish(total));
                    }
                }
            }, ".number-type");
        });
    </script>
}


