
@{
    ViewBag.Title = "ManagementPanel";
    Layout = "~/Views/Shared/_ManagementPanelLayout.cshtml";
    string role_id = ViewData["user_role_id"].ToString();
}

<link href="~/Content/simple-sidebar.css" rel="stylesheet" />
<link href="~/Content/ManagementPanelStyle.css" rel="stylesheet" />

<div id="wrapper" style="background-color:white;">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand" style="height:inherit; text-align:center; border-bottom: 1px solid white;">
                <img src='@ViewData["user_image_src"].ToString()' style="margin: 4px 0 0 45px; width: 135px;" />
            </li>
            @{
                if (role_id == "1")
                {
                    <li><a href="javascript:void(0)">داشبورد مدیریت</a></li>
                }
                if (role_id == "1" || role_id == "3")
                {
                    <li><a href="javascript:void(0)" onclick="render_content('saLe_est'); return true;">املاک فروشی</a></li>
                }
                if (role_id == "1" || role_id == "4")
                {
                    <li><a href="javascript:void(0)" onclick="render_content('mRtG_est'); return true;">املاک رهن و اجاره</a></li>
                }
                if (role_id == "1" || role_id == "2")
                {
                    <li><a href="javascript:void(0)" onclick="render_content('all_The_est'); return true;">همه املاک</a></li>
                    <li><a href="javascript:void(0)" onclick="render_content('arsH_est'); return true;">املاک آرشیو شده</a></li>
                }
                if (role_id == "1")
                {
                    <li><a href="javascript:void(0)">کاربران سایت</a></li>
                }
            }            
            <li><a href="#">صفحه شخصی</a></li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row" id="content">
                <img src="~/Content/shared_images/loading.gif" style="margin:0 auto; display:block;" id="loading"/>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function render_content(content_type) {
            $("#content").html('<img src="/Content/shared_images/loading.gif" style="margin:0 auto; display:block;" id="loading"/>');
            $("#loading").css('display', 'block');
            var postData = { "command": content_type};
            $.ajax({
                type: 'POST',
                url: "/Estate/ManagementCommand",
                dataType: 'json',
                data: postData,
                success: function (partial) {
                    $("#loading").css('display', 'none');
                    $('#content').html(partial.responseText);
                },
                error: function (data) {
                    $("#loading").css('display', 'none');
                    $("#content").html(data.responseText);
                },
            });
        }

        function edit_estate(id) {
            $("#content").html('<img src="/Content/shared_images/loading.gif" style="margin:0 auto; display:block;" id="loading"/>');
            $("#loading").css('display', 'block');
            var postData = { "id": id };
            $.ajax({
                type: 'POST',
                url: "/Estate/EditEstate",
                dataType: 'json',
                data: postData,
                success: function (partial) {
                    $("#loading").css('display', 'none');
                    $('#content').html(partial.responseText);
                },
                error: function (data) {
                    $("#loading").css('display', 'none');
                    $("#content").html(data.responseText);
                },
            });
        }
    </script>
}


