
@{
    ViewBag.Title = "جستجوی ملک";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>

    .row.search{
        background-image:url("../../Content/shared_images/background.jpg") !important;
        background-repeat:repeat;
    }
    .search-section{
        background:white;
        width:80%;
        margin: 0 auto;
    }
    .row.search-section .content{
        border: 2px solid #003765;
        border-radius:5px;
        min-height:200px;
    }
    .row.search-section .caption{
        height:35px;
        width:100%;
        font-size:20px;
        background-color:#003765;
        color: white;
    }
    .search-fields{
        padding:15px;
    }
    .search-fields > .row{
        margin-bottom: 25px;
    }
    .search-fields select{
        min-height:35px;
        width:100%;
        font-size:15px;
        
    }
    .search-fields span{
        font-size:16px;
    }
    .search-fields input.long_input{
        width:100%;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 2px solid #C1C1C1;
        text-align:right;
    }
    .result-section{
        width:90%;
        margin:20px 0 0 0;
        margin: 0 auto;
    }
    .summery{
        background-color:#FCFFE5;
        margin:0 auto;
        width:100%;
        border-radius:5px;
        min-height:30px;
        font-size:16px;
        vertical-align:central;
        font-style:normal !important;
        padding:5px;
    }
    .show-type{
        display:inline;
        float:left;
    }
    .show-type > a{
        color: black;
    }
    .show-type > a.active{
        color:green;
    }
    .show-type > a:hover{
        text-decoration:none;
        cursor:pointer;
    }
    .search-customize{
        margin-top:12px;
    }
    .estate{
        margin:0 auto;
        width:100%;
        border-radius:5px;
        padding:5px;
        background-color:white;
        min-height:135px;
        border: 2px ridge black;
        overflow:hidden;
        position:relative;
    }
    .estate img{
        width:100%;
        min-height:90px;
        max-height: 100px;
    }
    .estate .header{
        font-weight:bold;
        font-size:21px;
        color: #c60300;
    }
    .estate .sub-header{
        font-weight:normal;
        font-size:17px;
        color: black;
    }
    .goto_details{
        background-color: #428bca;
        border-color: #357ebd;
        color: #ffffff;
        margin: -5px 0 0 -5px;
        height:100%;
        position:absolute;
        left: 0;
        text-align:center;
        padding: 25px 14px 0 14px;
        cursor: pointer;
    }
    .goto_details:hover{
        background-color: #2972b1;
    }
    .number.normal{
        font-weight:normal;
        font-size:15px;
    }
    .favourite:hover{
        cursor:pointer;
    }
</style>

<div class="container body-content">
    <div class="row search">
        <br />
        <div class="row search-section">
            <div class="content">
                <div class="text-center caption">جستجوی ملک</div>
                <div class="search-fields">
                    <div class="row">
                        <div class="col-md-4">
                            <select id="EstateType">
                                <option value="0">نوع ملک</option>
                                <option value="1">آپارتمان</option>
                                <option value="2">ویلا</option>
                                <option value="3">کلنگی</option>
                                <option value="4">مستغلات</option>
                                <option value="5">خانه</option>
                                <option value="6">دفتر کار</option>
                                <option value="7">مغازه</option>
                                <option value="8">سوئیت</option>
                                <option value="9">سایر</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select id="EstateCity">
                                <option value="0">شهر</option>
                                <option value="118">تهران</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select id="EstateDistrict">
                                <option value="0">محله</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <select id="EstateCondition">
                                <option value="1">فروش</option>
                                <option value="2">رهن</option>
                                <option value="3">اجاره</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="EstateAge" class="long_input" placeholder="حداکثر سن بنا (سال)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="EstateSerial" class="long_input" placeholder="کد ملک"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="AreaFrom" class="long_input" placeholder="حداقل متراژ (متر مربع)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="TotalPriceFrom" class="long_input price-type" placeholder="حداقل قیمت کل (تومان)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="PricePerMeterFrom" class="long_input price-type" placeholder="حداقل قیمت هر متر(تومان)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="AreaTo" class="long_input" placeholder="حداکثر متراژ (متر مربع)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="TotalPriceTo" class="long_input price-type" placeholder="حداکثر قیمت کل (تومان)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="PricePerMeterTo" class="long_input price-type" placeholder="حداکثر قیمت هر متر(تومان)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <input type="button" id="search_btn" class="btn btn-primary" value="جستجو" style="min-width:120px;" />
                            &nbsp;
                            <a href="javascript:void()" id="advancedSearch"><i class="glyphicon glyphicon-chevron-down"></i>جستجوی پیشرفته</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row result-section">
            <div class="col-md-9">
                <div class="row">
                    <div class="summery">
                        <label style="font-size:18px;">نتایج جستجو برای املاک فروشی</label>
                        <div class="show-type"><a href="javascript:void()" class="active"><i class="glyphicon glyphicon-home"></i>&nbsp;تصویر</a>&nbsp;&nbsp;&nbsp;<a><i class="glyphicon glyphicon-align-justify"></i>&nbsp;لیست</a></div>
                        <div class="search-customize">
                            <select>
                                <option value="0">ترتیب بر اساس</option>
                                <option value="1">تاریخ</option>
                                <option value="2">متراژ</option>
                                <option value="3">قیمت</option>
                            </select>
                            <label style="display:inline; font-weight: normal; font-size:14px; margin-right:5px;"><input type="checkbox" id="only_image"><span>&nbsp;&nbsp;نمایش فایل های عکس دار</span></label>
                            <label style="display:inline; font-weight: normal; font-size:14px; margin-right:5px;"><input type="checkbox" id="only_faves"><span>&nbsp;&nbsp;نمایش املاک مورد علاقه</span></label>
                        </div>
                    </div>
                    <div class="loading text-center"><img src="~/Content/shared_images/loading.gif" /></div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function go_to_details(id) {
            window.location = "/Estate/EstateDetails?EstateID=" + id;
        }

        function getQueryStringByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        
        function createSearchResultSection(data) {
            var htmls = [];
            for (var i = 0 ; i < data.length ; i++) {
                var html =  '<br />' + 
                            '<div class="estate" data-state-id="' + data[i].ID + '">' + 
	                            '<div class="col-md-3">' + 
		                            '<img src="/Content/estate_images/' + data[i].ImageSrc + '" />' +
		                            '<label class="img-count number"> ' + data[i].ImageCount + ' عکس</label>' +
	                            '</div>' + 
	                            '<div class="col-md-5">' + 
		                            '<table></table>' + 
		                            '<i class="glyphicon glyphicon-usd">&nbsp;</i><label class="price header">' + numberWithCommas(data[i].TotalPrice) + '</label><br />' +
		                            '<i class="glyphicon glyphicon-pushpin">&nbsp;</i><label class="number sub-header">' + data[i].Address + ' - ' + turn2PersianNumber(data[i].Area) + ' متر - متری <span class="price">' + numberWithCommas("4500000") + '</span></label>' +
		                            '<p class="number" style="margin-top:8px;">2 خوابه - نوساز - طبقه سوم - 3 واحدی</p>' + 
	                            '</div>' + 
	                            '<div class="col-md-3" style="border: 1px outset black; margin-top:4px;">' + 
		                            '<br />' + 
		                            '<label class="number normal">کد ملک: ' + turn2PersianNumber(data[i].Serial) + '</label><br />' +
		                            '<label class="number normal">تاریخ: ' + turn2PersianNumber(data[i].Date) + '</label><br />' +
		                            '<i class="glyphicon glyphicon-heart-empty favourite" style="font-size:16px;" data-state-id="' + data[i].ID + '"></i> علاقه مندی<br /><br />' +
	                            '</div>' + 
	                            '<div class="col-md-1 goto_details" onclick="go_to_details(' + data[i].ID + ')">' +
		                            '<i class="glyphicon glyphicon-chevron-left"></i> مشاهده جزئیات ملک' + 
	                            '</div>' + 
                            '</div>';
                htmls.push(html);
            }
            for (var j = 0 ; j < htmls.length ; j++)
                $(".summery").after(htmls[j]);
            $(".loading.text-center").css('display', 'none');
        }

        function doSearch(params) {
            $.ajax({
                url: '@Url.Action("DoSearch", "Estate")',
                method: 'POST',
                dataType: 'json',
                data: JSON.stringify(params),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    createSearchResultSection(data);
                    //alert(data.length);
                },
                error: function () {

                },
            });
        }

        $(document).ready(function () {
            $("body").on('click', '.favourite', function () {
                var $self = $(this);
                if ($self.hasClass('yes')) {
                    $self.removeClass('yes').removeClass('glyphicon-heart').addClass('glyphicon-heart-empty').css('color', 'black');
                }
                else {
                    $self.addClass('yes').removeClass('glyphicon-heart-empty').addClass('glyphicon-heart').css('color', 'red');
                }
            });

            $("#only_faves").change(function () {
                if (this.checked) {
                    $(".estate").each(function () {
                        if (!$(this).find('.favourite.yes'))
                            $(this).remove();
                    });
                }
            });

            var condition = getQueryStringByName("cond") === '1' ? "فروش" : (getQueryStringByName("use") === '2' ? "رهن" : "اجاره");
            var usage = getQueryStringByName("use") === '1' ? "مسکونی" : (getQueryStringByName("use") === '2' ? "کلنگی و مشارکتی" : "تجاری و اداری");
            var initSearchParams = {
                EstateUsage: true,
                EstateUsageValue: usage,
                EstateCondition: true,
                EstateConditionValue: condition,
            }

            doSearch(initSearchParams);

            $(".search-fields").on({
                keydown: function (e) {
                    if ((notInRange(e.keyCode, 48, 57) && notInRange(e.keyCode, 96, 105) && e.keyCode !== 8 && e.keyCode !== 46) || e.shiftKey) {
                        e.preventDefault();
                    }
                    return true;
                },
                focus : function () {
                    $(this).select();
                },
                keyup: function () {
                    var $self = $(this);
                    var new_val = $self.val().replace(/,/g, '');
                    if ($self.hasClass('price-type'))
                    {
                        $self.val(inputNumberWithCommas(turn2EnglishNumber(new_val)));
                    }
                    else
                        $self.val(turn2PersianNumber(new_val));
                }
            }, "input");

            $("#EstateCondition").change(function () {
                if ($(this).val() === '1') {
                    $("#PrepaymentPriceFrom").attr('placeholder', 'حداقل قیمت کل (تومان)').attr('id', 'TotalPriceFrom');
                    $("#PrepaymentPriceTo").attr('placeholder', 'حداکثر قیمت کل (تومان)').attr('id', 'TotalPriceTo');
                    $("#MortagePriceFrom").attr('placeholder', 'حداقل قیمت هر متر (تومان)').attr('id', 'PricePerMeterFrom');
                    $("#MortagePriceTo").attr('placeholder', 'حداکثر قیمت هر متر (تومان)').attr('id', 'PricePerMeterTo');
                }
                else {
                    $("#TotalPriceFrom").attr('placeholder', 'حداقل قیمت ودیعه (تومان)').attr('id', 'PrepaymentPriceFrom');
                    $("#TotalPriceTo").attr('placeholder', 'حداکثر قیمت ودیعه (تومان)').attr('id', 'PrepaymentPriceTo');
                    $("#PricePerMeterFrom").attr('placeholder', 'حداقل قیمت اجاره (تومان)').attr('id', 'MortagePriceFrom');
                    $("#PricePerMeterTo").attr('placeholder', 'حداکثر قیمت اجاره (تومان)').attr('id', 'MortagePriceTo');
                }
            });

            $("#EstateCondition").val(getQueryStringByName("cond")).trigger('change');
        });
    </script>
}
