
@{
    ViewBag.Title = "جستجوی ملک";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="~/Content/SearchPageStyle.css" />

<div class="container body-content">
    <div class="row search">
        <br />
        <div class="row search-section">
            <div class="content">
                <div class="text-center caption">جستجوی ملک</div>
                <div class="search-fields">
                    <div class="row">
                        <div class="col-md-4">
                            <select id="EstateType">
                                <option value="0">نوع ملک</option>
                                <option value="1">آپارتمان</option>
                                <option value="2">ویلا</option>
                                <option value="3">کلنگی</option>
                                <option value="4">مستغلات</option>
                                <option value="5">خانه</option>
                                <option value="6">دفتر کار</option>
                                <option value="7">مغازه</option>
                                <option value="8">سوئیت</option>
                                <option value="9">سایر</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select id="EstateCity">
                                <option value="0">شهر</option>
                                <option value="115">اسلامشهر</option>
                                <option value="116">بومهن</option>
                                <option value="117">پاكدشت</option>
                                <option value="118">تهران</option>
                                <option value="119">چهاردانگه</option>
                                <option value="120">دماوند</option>
                                <option value="121">رودهن</option>
                                <option value="122">ري</option>
                                <option value="123">شريف آباد</option>
                                <option value="124">شهر رباط كريم</option>
                                <option value="125">شهر شهريار</option>
                                <option value="126">فشم</option>
                                <option value="127">فيروزكوه</option>
                                <option value="128">قدس</option>
                                <option value="129">كهريزك</option>
                                <option value="130">لواسان بزرگ</option>
                                <option value="131">ملارد</option>
                                <option value="132">ورامين</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select id="EstateDistrict">
                                <option value="0">محله</option>
                                <option value="1">17شهریور</option>
                                <option value="2">17شهریور-پل محلاتی</option>
                                <option value="3">آذربایجان</option>
                                <option value="4">آذری</option>
                                <option value="5">آزادی</option>
                                <option value="6">آهنگ</option>
                                <option value="7">آیت الله سعیدی</option>
                                <option value="8">اراج و ازگل</option>
                                <option value="9">استادمعین</option>
                                <option value="10">اشرفی اصفهانی</option>
                                <option value="11">افسریه</option>
                                <option value="12">اقدسیه</option>
                                <option value="13">الهیه</option>
                                <option value="14">امام حسین</option>
                                <option value="15">امام خمینی</option>
                                <option value="16">امامت</option>
                                <option value="17">امیرآباد</option>
                                <option value="18">امیرآباد شمالی</option>
                                <option value="19">اندیشه</option>
                                <option value="20">بازار</option>
                                <option value="21">بریانک</option>
                                <option value="22">بلوار بسیج</option>
                                <option value="23">بلوار فردوس</option>
                                <option value="24">بنی هاشم</option>
                                <option value="25">بهار</option>
                                <option value="26">بهار شیراز</option>
                                <option value="27">بهارستان</option>
                                <option value="28">پاتریس</option>
                                <option value="29">پارک وی</option>
                                <option value="30">پاسداران</option>
                                <option value="31">پردیس</option>
                                <option value="32">پونک</option>
                                <option value="33">پیچ شمران</option>
                                <option value="34">پیروزی</option>
                                <option value="35">تلفنخانه</option>
                                <option value="36">تهران نو</option>
                                <option value="37">تهران ویلا</option>
                                <option value="38">تهرانپارس</option>
                                <option value="39">تهرانسر</option>
                                <option value="40">تولیددارو</option>
                                <option value="41">جاده ساوه</option>
                                <option value="42">جردن</option>
                                <option value="43">جلال ال احمد</option>
                                <option value="44">جمالزاده</option>
                                <option value="45">جمهوری</option>
                                <option value="46">جنت آباد</option>
                                <option value="47">جوادیه</option>
                                <option value="48">جی</option>
                                <option value="49">جیحون</option>
                                <option value="50">چهارراه سیروس</option>
                                <option value="51">حافظ</option>
                                <option value="52">حکیمیه</option>
                                <option value="53">خراسان</option>
                                <option value="54">خردمند</option>
                                <option value="55">خزانه</option>
                                <option value="56">خلیج فارس</option>
                                <option value="57">خواجه عبدالله</option>
                                <option value="58">خواجه نظام</option>
                                <option value="59">خوش</option>
                                <option value="60">دامپزشکی</option>
                                <option value="61">دروس</option>
                                <option value="62">دریان نو</option>
                                <option value="63">دوراهی قپان</option>
                                <option value="64">رسالت</option>
                                <option value="65">رودکی</option>
                                <option value="66">ری</option>
                                <option value="67">زعفرانیه</option>
                                <option value="68">سبلان</option>
                                <option value="69">ستارخان</option>
                                <option value="70">سراج</option>
                                <option value="71">سعادت آباد</option>
                                <option value="72">سی متری</option>
                                <option value="73">شاد آباد</option>
                                <option value="74">شریعتی</option>
                                <option value="75">شمس آباد</option>
                                <option value="76">شهدا</option>
                                <option value="77">شهرآرا</option>
                                <option value="78">شهران</option>
                                <option value="79">شهرزیبا</option>
                                <option value="80">شهرک امید</option>
                                <option value="81">شهرک اکباتان</option>
                                <option value="82">شهرک راه آهن</option>
                                <option value="83">شهرک صنعتی سپهر</option>
                                <option value="84">شهرک غرب</option>
                                <option value="85">شهرک ولی عصر</option>
                                <option value="86">شوش</option>
                                <option value="87">شیخ بهایی</option>
                                <option value="88">صادقیه</option>
                                <option value="89">طرشت</option>
                                <option value="90">ظفر</option>
                                <option value="91">عباس آباد</option>
                                <option value="92">علی آباد</option>
                                <option value="93">فرشته</option>
                                <option value="94">فرمانیه</option>
                                <option value="95">فلکه اول صادقیه</option>
                                <option value="96">قزوین</option>
                                <option value="97">قلهک</option>
                                <option value="98">قیطریه</option>
                                <option value="103">گاندی</option>
                                <option value="104">گیانی</option>
                                <option value="105">گیشا</option>
                                <option value="106">لویزان</option>
                                <option value="107">مجاهدین اسلام</option>
                                <option value="108">مجیدیه</option>
                                <option value="109">مختاری</option>
                                <option value="110">مرزداران</option>
                                <option value="111">مشیریه</option>
                                <option value="112">ملاصدرا</option>
                                <option value="116">مهراباد</option>
                                <option value="117">مولوی</option>
                                <option value="118">میدان 100</option>
                                <option value="119">میدان سپاه</option>
                                <option value="120">میدان میرداماد</option>
                                <option value="121">مینی سیتی</option>
                                <option value="122">نازی آباد</option>
                                <option value="123">نامجو</option>
                                <option value="124">نبرد</option>
                                <option value="125">نواب</option>
                                <option value="126">نیاوران</option>
                                <option value="127">نیرو هوایی</option>
                                <option value="131">هاشم آباد</option>
                                <option value="132">هاشمی</option>
                                <option value="136">هفت تیر</option>
                                <option value="133">هلال احمر</option>
                                <option value="134">همت</option>
                                <option value="128">وحدت اسلامی</option>
                                <option value="129">ولنجک</option>
                                <option value="130">ولی عصر</option>
                                <option value="99">کاشانی</option>
                                <option value="100">کامرانیه</option>
                                <option value="101">کریم خان</option>
                                <option value="102">کیان شهر</option>
                                <option value="135">یوسف آباد</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <select id="EstateCondition">
                                <option value="1">فروش</option>
                                <option value="2">رهن</option>
                                <option value="3">اجاره</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="EstateAge" class="long_input" placeholder="حداکثر سن بنا (سال)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="EstateSerial" class="long_input" placeholder="کد ملک"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="AreaFrom" class="long_input" placeholder="حداقل متراژ (متر مربع)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="TotalPriceFrom" class="long_input price-type" placeholder="حداقل قیمت کل (تومان)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="PricePerMeterFrom" class="long_input price-type" placeholder="حداقل قیمت هر متر(تومان)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="AreaTo" class="long_input" placeholder="حداکثر متراژ (متر مربع)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="TotalPriceTo" class="long_input price-type" placeholder="حداکثر قیمت کل (تومان)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="PricePerMeterTo" class="long_input price-type" placeholder="حداکثر قیمت هر متر(تومان)" />
                        </div>
                    </div>
                    <div class="row advanced-section">
                        <div class="col-md-3">
                            <select id="EstateFloor">
                                <option value="0" selected="selected">طبقه</option>
                                <option value="زیرزمین">زیرزمین</option>
                                <option value="پیلوت">پیلوت</option>
                                <option value="همکف">همکف</option>
                                <option value="طبقه اول">طبقه اول</option>
                                <option value="طبقه دوم">طبقه دوم</option>
                                <option value="طبقه سوم">طبقه سوم</option>
                                <option value="طبقه چهارم">طبقه چهارم</option>
                                <option value="طبقه پنجم">طبقه پنجم</option>
                                <option value="طبقه ششم">طبقه ششم</option>
                                <option value="طبقه هفتم تا دهم">طبقه هفتم تا دهم</option>
                                <option value="طبقه دهم به بالا">طبقه دهم به بالا</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="EstateBedrooms" class="long_input" placeholder="تعداد اتاق خواب" />
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="EstateParkings" class="long_input" placeholder="تعداد پارکینگ" />
                        </div>
                        <div class="col-md-3">
                            <label style="display:inline; font-weight: normal; font-size:14px; margin-right:5px;"><input type="checkbox" id="HasParking"><span>&nbsp;&nbsp;انباری</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <button type="button" id="search_btn" class="btn btn-primary" style="min-width:120px;" >جستجو</button>
                            &nbsp;
                            <a href="javascript:void()" id="advancedSearch"><i class="glyphicon glyphicon-chevron-down"></i>جستجوی پیشرفته</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row result-section">
            <div class="col-md-9">
                <div class="row">
                    <div class="summery">
                        <label style="font-size:18px;">نتایج جستجو برای املاک <span class="result_type">فروشی</span></label>
                        <div class="show-type"><a href="javascript:void(0)" class="img-view active"><i class="glyphicon glyphicon-home"></i>&nbsp;تصویر</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" class="list-view"><i class="glyphicon glyphicon-align-justify"></i>&nbsp;لیست</a></div>
                        <div class="search-customize">
                            <select id="sortResult" onchange="changeSortOrder(this)">
                                <option value="0">ترتیب بر اساس</option>
                                <option value="1">تاریخ</option>
                                <option value="2">متراژ</option>
                                <option value="3">متراژ - نزولی</option>
                                <option value="4">قیمت کل / رهن</option>
                                <option value="5">قیمت کل / رهن - نزولی</option>
                                <option value="6">قیمت متری / اجاره</option>
                                <option value="7">قیمت متری / اجاره - نزولی</option>
                            </select>
                            <label style="display:inline; font-weight: normal; font-size:14px; margin-right:5px;"><input type="checkbox" id="OnlyImage" onchange="only_image_filter(this)"><span>&nbsp;&nbsp;نمایش فایل های عکس دار</span></label>
                            <label style="display:inline; font-weight: normal; font-size:14px; margin-right:5px;"><input type="checkbox" onchange="show_faves(this)" id="OnlyFaves"><span>&nbsp;&nbsp;نمایش املاک مورد علاقه</span></label>
                        </div>
                    </div>
                    <table class="estate-table-view" border="1">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>تاریخ ثبت</th>
                                <th>محله</th>
                                <th>تعداد خواب</th>
                                <th>متراژ</th>
                                <th>قیمت کل / رهن</th>
                                <th>قیمت هر متر / اجاره</th>
                                <th>کد ملک</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="search-table-body">
                            
                        </tbody>
                    </table>
                    <div class="loading text-center"><img src="~/Content/shared_images/loading.gif" /></div>
                    <div class="text-center">
                        <button class="btn btn-primary" id="fetchMore" data-page="1">موارد بیشتر</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var search_params = {};

        var show_type = 'img';

        function initialSearchParams() {

            if (search_params == null)
                search_params = {};
            var field_names = ['EstateType', 'EstateCity', 'EstateDistrict', 'EstateCondition',
                               'EstateAge', 'EstateSerial', 'EstateFloor', 'EstateBedrooms', 'EstateParkings',
                               'Area', 'TotalPrice', 'PricePerMeter', 'PrepaymentPrice', 'MortagePrice', 'HasParking',
                               'EstateSerial'];
            for (var j = 0 ; j < field_names.length ; j++){
                search_params[field_names[j]] = false;
            }
            search_params['AreaFrom'] = 0;
            search_params['AreaTo'] = 1000000;
            search_params['TotalPriceFrom'] = 0;
            search_params['TotalPriceTo'] = 100000000000;
            search_params['PricePerMeterFrom'] = 0;
            search_params['PricePerMeterTo'] = 100000000;
            search_params['PrepaymentPriceFrom'] = 0;
            search_params['PrepaymentPriceTo'] = 1000000000;
            search_params['MortagePriceFrom'] = 0;
            search_params['MortagePriceTo'] = 1000000000;
        }

        function clearSearchResult() {
            if (show_type === 'list') {
                $('.search-table-body').html('');
            }
            else {
                $('.estate').each(function () {
                    $(this).remove();
                });
                $('.page-separator').each(function () {
                    $(this).remove();
                });
            }
        }

        function changeSortOrder(elem) {
            clearSearchResult();
            $("#fetchMore").attr("data-page", "1");
            doSearch(search_params, 1);
        }

        function getQueryStringByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        
        function createSearchResultSection(data, page) {
            $(".estate-table-view").css('display', 'none');
            var htmls = [];
            htmls.push('<div class="page-separator">صفحه ' + turn2PersianNumber(page) + '</div>');
            for (var i = 0 ; i < data.length ; i++) {
                var age = data[i].Age === 0 ? 'نوساز' : data[i].Age + ' ساله';
                var custom_string = data[i].Bedrooms + ' خوابه - ' + age + ' - ' + data[i].Floor + ' - ' + data[i].Units;
                var html =  '<div class="estate" data-state-id="' + data[i].ID + '">' + 
	                            '<div class="col-md-3">' + 
		                            '<img src="/Content/estate_images/' + data[i].ImageSrc + '" />' +
		                            '<label class="img-count number"> ' + data[i].ImageCount + ' عکس</label>' +
	                            '</div>' + 
	                            '<div class="col-md-5">' + 
		                            '<table></table>' + 
		                            '<i class="glyphicon glyphicon-usd">&nbsp;</i><label class="price header">' + numberWithCommas(data[i].FirstPrice) + '</label><br />' +
		                            '<i class="glyphicon glyphicon-pushpin">&nbsp;</i><label class="number sub-header">' + data[i].Address + ' - ' + turn2PersianNumber(data[i].Area) + ' متر - <span class="price">' + numberWithCommas(data[i].SecondPrice) + '</span></label>' +
		                            '<p class="number" style="margin-top:8px;">' + custom_string + '</p>' +
	                            '</div>' + 
	                            '<div class="col-md-3" style="border: 1px outset black; margin-top:4px;">' + 
		                            '<br />' + 
		                            '<label class="number normal">کد ملک: ' + turn2PersianNumber(data[i].Serial) + '</label><br />' +
		                            '<label class="number normal">تاریخ: ' + convertToJalaliDate(data[i].Date) + '</label><br />' +
		                            '<i class="glyphicon glyphicon-heart-empty favourite" style="font-size:16px;" data-state-id="' + data[i].ID + '"></i> علاقه مندی<br /><br />' +
	                            '</div>' + 
	                            '<a class="col-md-1 goto_details" href="/Estate/EstateDetails?EstateID=' + data[i].ID + '" target="_blank">' +
		                            '<i class="glyphicon glyphicon-chevron-left"></i> مشاهده جزئیات ملک' + 
	                            '</a>' + 
                            '</div>';
                htmls.push(html);
            }
            for (var j = 0 ; j < htmls.length ; j++)
                $(".loading").before(htmls[j]);
            $(".loading.text-center").css('display', 'none');
            fix_numbers();
            if (mod(data.length, 10) !== 0) {
                $("#fetchMore").css('display', 'none');
            }
            else {
                $("#fetchMore").css('display', 'initial');
            }
        }

        function createSearchResultListSection(data, page) {
            $(".estate-table-view").css('display', 'table');
            var htmls = [];
            for (var i = 0 ; i < data.length ; i++) {
                var index = (((page - 1) * 10) + i + 1);
                html = '<tr>' +
	                        '<td>' + turn2PersianNumber(index) + '</td>' +
                            '<td>' + convertToJalaliDate(data[i].Date) + '</td>' +
	                        '<td>' + data[i].Dist + '</td>' +
	                        '<td>' + turn2PersianNumber(data[i].Bedrooms) + '</td>' +
	                        '<td>' + turn2PersianNumber(data[i].Area) + '</td>' +
	                        '<td>' + numberWithCommas(data[i].FirstPrice) + '</td>' +
	                        '<td>' + numberWithCommas(data[i].SecondPrice) + '</td>' +
	                        '<td>' + turn2PersianNumber(data[i].Serial) + '</td>' +
	                        '<td><a class="btn btn-primary" target="_blank" href="/Estate/EstateDetails?EstateID=' + data[i].ID + '">جزئیات</a></td>' +
	                        '<td><i class="glyphicon glyphicon-heart-empty favourite" style="font-size:16px;"></i></td>' +
                        '</tr>';
                htmls.push(html);
            }
            for (var j = 0 ; j < htmls.length ; j++)
                $(".search-table-body").append(htmls[j]);
            $(".loading.text-center").css('display', 'none');
            //fix_numbers();
            if (mod(data.length, 10) !== 0) {
                $("#fetchMore").css('display', 'none');
            }
            else {
                $("#fetchMore").css('display', 'initial');
            }
        }

        function doSearch(params, page) {
            $(".result_type").html($("#EstateCondition option:selected").text());
            var order;
            switch ($("#sortResult").val()) {
                case '1': order = "date"; break;
                case '2': order = "area"; break;
                case '3': order = "area_desc"; break;
                case '4': order = "price_1"; break;
                case '5': order = "price_1_desc"; break;
                case '6': order = "price_2"; break;
                case '7': order = "price_2_desc"; break;
                default: order = "date";
            }
            $(".loading.text-center").css('display', 'block');
            $.ajax({
                url: '/Estate/DoSearch',
                method: 'POST',
                dataType: 'json',
                data: JSON.stringify({"_params": params, "page": page, "order": order}),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (show_type === 'img')
                        createSearchResultSection(data, page);
                    else
                        createSearchResultListSection(data, page);
                },
                error: function () {

                },
            });
        }

        function show_faves(elem) {
            if (show_type === 'img') {
                if (elem.checked) {
                    $(".estate").each(function () {
                        if (!$(this).find('.yes').length) {
                            $(this).fadeOut('slow');
                        }
                    });
                }
                else {
                    $(".estate").each(function () {
                        if (!$(this).find('.yes').length) {
                            $(this).fadeIn('slow');
                        }
                    });
                }
            }
            else {
                if (elem.checked) {
                    $(".search-table-body > tr").each(function () {
                        if (!$(this).find('.yes').length) {
                            $(this).fadeOut('slow');
                        }
                    });
                }
                else {
                    $(".search-table-body > tr").each(function () {
                        if (!$(this).find('.yes').length) {
                            $(this).fadeIn('slow');
                        }
                    });
                }
            }
        }

        function only_image_filter(elem) {
            clearSearchResult();
            (elem.checked) ? search_params['HasImage'] = true : search_params['HasImage'] = false;
            doSearch(search_params, 1);
        }

        function condition_change() {
            if ($("#EstateCondition").val() === '1') {
                $("#PrepaymentPriceFrom").attr('placeholder', 'حداقل قیمت کل (تومان)').attr('id', 'TotalPriceFrom');
                $("#PrepaymentPriceTo").attr('placeholder', 'حداکثر قیمت کل (تومان)').attr('id', 'TotalPriceTo');
                $("#MortagePriceFrom").attr('placeholder', 'حداقل قیمت هر متر (تومان)').attr('id', 'PricePerMeterFrom');
                $("#MortagePriceTo").attr('placeholder', 'حداکثر قیمت هر متر (تومان)').attr('id', 'PricePerMeterTo');
            }
            else {
                $("#TotalPriceFrom").attr('placeholder', 'حداقل قیمت ودیعه (تومان)').attr('id', 'PrepaymentPriceFrom');
                $("#TotalPriceTo").attr('placeholder', 'حداکثر قیمت ودیعه (تومان)').attr('id', 'PrepaymentPriceTo');
                $("#PricePerMeterFrom").attr('placeholder', 'حداقل قیمت اجاره (تومان)').attr('id', 'MortagePriceFrom');
                $("#PricePerMeterTo").attr('placeholder', 'حداکثر قیمت اجاره (تومان)').attr('id', 'MortagePriceTo');
            }
        }

        $(document).ready(function () {
            $("body").on('click', '.favourite', function () {
                var $self = $(this);
                if ($self.hasClass('yes')) {
                    $self.removeClass('yes').removeClass('glyphicon-heart').addClass('glyphicon-heart-empty').css('color', 'black');
                }
                else {
                    $self.addClass('yes').removeClass('glyphicon-heart-empty').addClass('glyphicon-heart').css('color', 'red');
                }
            });

            $(".show-type > a").click(function () {
                var $self = $(this);
                if (!$self.hasClass("active")) {
                    clearSearchResult();
                    if ($self.hasClass("img-view"))
                        show_type = 'img';
                    else
                        show_type = 'list';
                    $(".show-type > a").removeClass("active");
                    $self.toggleClass("active").css("text-decoration", "none");
                    $("#fetchMore").attr("data-page", "1");
                    doSearch(search_params, 1);
                }
            });

            $("#fetchMore").click(function () {
                var page = parseInt($(this).attr("data-page")) + 1;
                if (page === 0) {
                    doSearch(search_params, -1);
                    $(this).attr("data-page", -1);
                }
                else {
                    doSearch(search_params, page);
                    $(this).attr("data-page", page);
                }
            });

            $("#advancedSearch").click(function () {
                var $i = $(this).find('.glyphicon');
                if ($i.hasClass('glyphicon-chevron-down')) {
                    $i.removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                    $('.advanced-section').show('slow');
                }
                else {
                    $i.removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                    $('.advanced-section').hide('slow');
                }
            });

            $("#search_btn").click(function () {
                initialSearchParams();
                var field_names = ['EstateType', 'EstateCity', 'EstateDistrict', 'EstateCondition',
                                   'EstateAge', 'EstateSerial', 'EstateFloor', 'EstateBedrooms', 'EstateParkings',
                                   'EstateSerial'];
                for (var i = 0 ; i < field_names.length ; i++) {
                    var $elem = $('#' + field_names[i]);
                    if ($elem.val() !== '' && $elem.val() !== '0') {
                        search_params[field_names[i]] = true;
                        if (field_names[i] === 'EstateCondition')
                            search_params[field_names[i] + 'Value'] = $elem.val() === '1' ? "فروش" : ($elem.val() === '2' ? "رهن" : "اجاره");
                        else
                            search_params[field_names[i] + 'Value'] = turn2EnglishNumber($elem.val());
                    }
                    else
                        search_params[field_names[i]] = false;
                }
                if ($("#AreaFrom").val() !== '') {
                    search_params['Area'] = true;
                    search_params['AreaFrom'] = turn2EnglishNumber($("#AreaFrom").val());
                }
                if ($("#AreaTo").val() !== '' ) {
                    search_params['Area'] = true;
                    search_params['AreaTo'] = turn2EnglishNumber($("#AreaTo").val());
                }
                if ($("#EstateCondition").val() === '1') {
                    if ($("#TotalPriceFrom").val() !== '') {
                        search_params['TotalPrice'] = true;
                        search_params['TotalPriceFrom'] = turn2EnglishNumber($("#TotalPriceFrom").val());
                    }
                    if ($("#TotalPriceTo").val() !== '') {
                        search_params['TotalPrice'] = true;
                        search_params['TotalPriceTo'] = turn2EnglishNumber($("#TotalPriceTo").val());
                    }
                    if ($("#PricePerMeterFrom").val() !== '') {
                        search_params['PricePerMeter'] = true;
                        search_params['PricePerMeterFrom'] = turn2EnglishNumber($("#PricePerMeterFrom").val());
                    }
                    if ($("#PricePerMeterTo").val() !== '') {
                        search_params['PricePerMeter'] = true;
                        search_params['PricePerMeterTo'] = turn2EnglishNumber($("#PricePerMeterTo").val());
                    }
                }
                else {
                    if ($("#PrepaymentPriceFrom").val() !== '') {
                        search_params['PrepaymentPrice'] = true;
                        search_params['PrepaymentPriceFrom'] = turn2EnglishNumber($("#PrepaymentPriceFrom").val());
                    }
                    if ($("#PrepaymentPriceTo").val() !== '') {
                        search_params['PrepaymentPrice'] = true;
                        search_params['PrepaymentPriceTo'] = turn2EnglishNumber($("#PrepaymentPriceTo").val());
                    }
                    if ($("#MortagePriceFrom").val() !== '') {
                        search_params['MortagePrice'] = true;
                        search_params['MortagePriceFrom'] = turn2EnglishNumber($("#MortagePriceFrom").val());
                    }
                    if ($("#MortagePriceTo").val() !== '') {
                        search_params['MortagePrice'] = true;
                        search_params['MortagePriceTo'] = turn2EnglishNumber($("#MortagePriceTo").val());
                    }
                }
                if (document.getElementById("HasParking")) {
                    search_params['HasParking'] = document.getElementById("HasParking").checked;
                }

                $("#fetchMore").attr("data-page", 1);
                clearSearchResult();
                doSearch(search_params, 1);
            });

            var cond_qs = getQueryStringByName("cond");
            var use_qs = getQueryStringByName("use");
            if (cond_qs === null) {
                search_params = null;
                $("#fetchMore").attr("data-page", -1);
                doSearch(search_params, -1);
            }
            else {
                var condition = cond_qs === '1' ? "فروش" : (cond_qs === '2' ? "رهن" : "اجاره");
                var usage = use_qs === '2' ? "کلنگی و مشارکتی" : (use_qs === '3' ? "تجاری و اداری" : "مسکونی");
                var Province = getQueryStringByName("state"),
                    City = getQueryStringByName("city"),
                    District = getQueryStringByName("district"),
                    Type = getQueryStringByName("type");

                search_params = {
                    EstateUsage: true,
                    EstateUsageValue: usage,
                    EstateCondition: true,
                    EstateConditionValue: condition,
                }
                $("#EstateCondition").val(getQueryStringByName("cond"));
                condition_change();
                if (Province !== null) {
                    search_params["EstateProvince"] = true;
                    search_params["EstateProvinceValue"] = Province;
                }
                if (City !== null) {
                    search_params["EstateCity"] = true;
                    search_params["EstateCityValue"] = City;
                    $("#EstateCity").val(City);
                }
                if (District !== null) {
                    search_params["EstateDistrict"] = true;
                    search_params["EstateDistrictValue"] = District;
                    $("#EstateDistrict").val(District);
                }
                if (Type !== null) {
                    search_params["EstateType"] = true;
                    search_params["EstateTypeValue"] = Type;
                    $("#EstateType").val(Type);
                }
                doSearch(search_params, 1);
            }

            $(".search-fields").on({
                keydown: function (e) {
                    if ((notInRange(e.keyCode, 48, 57) && notInRange(e.keyCode, 96, 105) && e.keyCode !== 8 && e.keyCode !== 46) || e.shiftKey) {
                        e.preventDefault();
                    }
                    return true;
                },
                focus : function () {
                    $(this).select();
                },
                keyup: function () {
                    var $self = $(this);
                    var new_val = $self.val().replace(/,/g, '');
                    if ($self.hasClass('price-type'))
                    {
                        $self.val(inputNumberWithCommas(turn2EnglishNumber(new_val)));
                    }
                    else
                        $self.val(turn2PersianNumber(new_val));
                }
            }, "input");

            $("#EstateCondition").change(function () {
                condition_change();
            });

            $("#EstateCity").change(function () {
                if ($(this).val() === '118') {
                    $("#search_btn").html('<i class="fa fa-refresh fa-spin"></i>').attr('disabled', 'disabled');
                    $.ajax({
                        url: '/Estate/fetchDistricts',
                        method: 'POST',
                        dataType: 'json',
                        data: '',
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $("#EstateDistrict").html('<option value="0">محله</option>');
                            for (var i = 0 ; i < data.length ; i++) {
                                $("#EstateDistrict").append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                            }
                            $("#search_btn").html('جستجو').removeAttr('disabled');
                        },
                        error: function () {
                            $("#EstateDistrict").html('<option value="0">محله</option>');
                            $("#search_btn").html('جستجو').removeAttr('disabled');
                        },
                    });
                }
                else {
                    $("#EstateDistrict").html('<option value="0">محله</option>');
                }
            });

        });
    </script>
}
