
@{
    ViewBag.Title = "جستجوی ملک";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>

    .row.search{
        background-image:url("../../Content/shared_images/background.jpg") !important;
        background-repeat:repeat;
    }
    .search-section{
        background:white;
        width:80%;
        margin: 0 auto;
    }
    .row.search-section .content{
        border: 2px solid #003765;
        border-radius:5px;
        min-height:200px;
    }
    .row.search-section .caption{
        height:35px;
        width:100%;
        font-size:20px;
        background-color:#003765;
        color: white;
    }
    .search-fields{
        padding:15px;
    }
    .search-fields > .row{
        margin-bottom: 25px;
    }
    .search-fields select{
        min-height:35px;
        width:100%;
        font-size:15px;
        
    }
    .search-fields span{
        font-size:16px;
    }
    .search-fields input.long_input{
        width:100%;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 2px solid #C1C1C1;
        text-align:right;
    }
    .advanced-section{
        display:none;
    }
    .result-section{
        width:90%;
        margin:20px 0 0 0;
        margin: 0 auto;
    }
    .summery{
        background-color:#FCFFE5;
        margin:0 auto;
        width:100%;
        border-radius:5px;
        min-height:30px;
        font-size:16px;
        vertical-align:central;
        font-style:normal !important;
        padding:5px;
    }
    .show-type{
        display:inline;
        float:left;
    }
    .show-type > a{
        color: black;
    }
    .show-type > a.active{
        color:#428bca;
    }
    .show-type > a:hover{
        text-decoration:none;
        cursor:pointer;
    }
    .search-customize{
        margin-top:12px;
    }
    .estate{
        margin-top: 10px;
        width:100%;
        border-radius:5px;
        padding:5px;
        background-color:white;
        min-height:135px;
        border: 2px ridge black;
        overflow:hidden;
        position:relative;
    }
    .estate img{
        width:100%;
        min-height:120px;
        max-height: 100px;
        max-width:190px;
    }
    .img-count{
        max-width:190px;
    }
    .estate .header{
        font-weight:bold;
        font-size:21px;
        color: #c60300;
    }
    .estate .sub-header{
        font-weight:normal;
        font-size:17px;
        color: black;
    }
    .page-separator{
        width:10%;
        background-color: #2972b1;
        color: white;
        max-height:20px;
        margin-top: 10px;
        text-align:center;
    }
    .goto_details{
        background-color: #428bca;
        border-color: #357ebd;
        color: #ffffff;
        margin: -5px 0 0 -5px;
        height:100%;
        position:absolute;
        left: 0;
        text-align:center;
        padding: 25px 14px 0 14px;
        cursor: pointer;
    }
    .goto_details:hover{
        background-color: #2972b1;
        color: white;
        text-decoration: none;
    }
     @@media only screen and (max-width: 985px){
        .goto_details{
            margin: 5px 0 0 0;
            max-height: 40px;
            width:100%;
            bottom:-5px;
            padding: 0 14px 0 14px;
            position: relative
        }
        .estate{
            text-align:center;
        }
    }
     @@media only screen and (max-width: 1265px){
        .goto_details{
            padding: 5px 4px 0 14px;
        }
     }
    .number.normal{
        font-weight:normal;
        font-size:15px;
    }
    .favourite:hover{
        cursor:pointer;
    }
    #fetchMore{
        min-width:140px;
        font-size:17px;
        font-weight:bold;
        margin:20px;
        border:2px ridge #00578f;
    }
</style>

<div class="container body-content">
    <div class="row search">
        <br />
        <div class="row search-section">
            <div class="content">
                <div class="text-center caption">جستجوی ملک</div>
                <div class="search-fields">
                    <div class="row">
                        <div class="col-md-4">
                            <select id="EstateType">
                                <option value="0">نوع ملک</option>
                                <option value="1">آپارتمان</option>
                                <option value="2">ویلا</option>
                                <option value="3">کلنگی</option>
                                <option value="4">مستغلات</option>
                                <option value="5">خانه</option>
                                <option value="6">دفتر کار</option>
                                <option value="7">مغازه</option>
                                <option value="8">سوئیت</option>
                                <option value="9">سایر</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select id="EstateCity">
                                <option value="0">شهر</option>
                                <option value="118">تهران</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select id="EstateDistrict">
                                <option value="0">محله</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <select id="EstateCondition">
                                <option value="1">فروش</option>
                                <option value="2">رهن</option>
                                <option value="3">اجاره</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="EstateAge" class="long_input" placeholder="حداکثر سن بنا (سال)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="EstateSerial" class="long_input" placeholder="کد ملک"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="AreaFrom" class="long_input" placeholder="حداقل متراژ (متر مربع)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="TotalPriceFrom" class="long_input price-type" placeholder="حداقل قیمت کل (تومان)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="PricePerMeterFrom" class="long_input price-type" placeholder="حداقل قیمت هر متر(تومان)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="AreaTo" class="long_input" placeholder="حداکثر متراژ (متر مربع)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="TotalPriceTo" class="long_input price-type" placeholder="حداکثر قیمت کل (تومان)" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="PricePerMeterTo" class="long_input price-type" placeholder="حداکثر قیمت هر متر(تومان)" />
                        </div>
                    </div>
                    <div class="row advanced-section">
                        <div class="col-md-3">
                            <select id="EstateFloor">
                                <option value="0" selected="selected">تعداد طبقات</option>
                                <option value="زیرزمین">زیرزمین</option>
                                <option value="پیلوت">پیلوت</option>
                                <option value="همکف">همکف</option>
                                <option value="طبقه اول">طبقه اول</option>
                                <option value="طبقه دوم">طبقه دوم</option>
                                <option value="طبقه سوم">طبقه سوم</option>
                                <option value="طبقه چهارم">طبقه چهارم</option>
                                <option value="طبقه پنجم">طبقه پنجم</option>
                                <option value="طبقه ششم">طبقه ششم</option>
                                <option value="طبقه هفتم تا دهم">طبقه هفتم تا دهم</option>
                                <option value="طبقه دهم به بالا">طبقه دهم به بالا</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="EstateBedrooms" class="long_input" placeholder="تعداد اتاق خواب" />
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="EstateParkings" class="long_input" placeholder="تعداد پارکینگ" />
                        </div>
                        <div class="col-md-3">
                            <label style="display:inline; font-weight: normal; font-size:14px; margin-right:5px;"><input type="checkbox" id="HasParking"><span>&nbsp;&nbsp;انباری</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <input type="button" id="search_btn" class="btn btn-primary" value="جستجو" style="min-width:120px;" />
                            &nbsp;
                            <a href="javascript:void()" id="advancedSearch"><i class="glyphicon glyphicon-chevron-down"></i>جستجوی پیشرفته</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row result-section">
            <div class="col-md-9">
                <div class="row">
                    <div class="summery">
                        <label style="font-size:18px;">نتایج جستجو برای املاک فروشی</label>
                        <div class="show-type"><a href="javascript:void(0)" class="active"><i class="glyphicon glyphicon-home"></i>&nbsp;تصویر</a>&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)"><i class="glyphicon glyphicon-align-justify"></i>&nbsp;لیست</a></div>
                        <div class="search-customize">
                            <select id="sortResult" onchange="changeSortOrder(this)">
                                <option value="0">ترتیب بر اساس</option>
                                <option value="1">تاریخ</option>
                                <option value="2">متراژ</option>
                                <option value="3">متراژ - نزولی</option>
                                <option value="4">قیمت</option>
                            </select>
                            <label style="display:inline; font-weight: normal; font-size:14px; margin-right:5px;"><input type="checkbox" id="OnlyImage" onchange="only_image_filter(this)"><span>&nbsp;&nbsp;نمایش فایل های عکس دار</span></label>
                            <label style="display:inline; font-weight: normal; font-size:14px; margin-right:5px;"><input type="checkbox" onchange="show_faves(this)" id="OnlyFaves"><span>&nbsp;&nbsp;نمایش املاک مورد علاقه</span></label>
                        </div>
                    </div>
                    <div class="loading text-center"><img src="~/Content/shared_images/loading.gif" /></div>
                    <div class="text-center">
                        <button class="btn btn-primary" id="fetchMore" data-page="1">موارد بیشتر</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var search_params = {};

        function initialSearchParams(){
            var field_names = ['EstateType', 'EstateCity', 'EstateDistrict', 'EstateCondition',
                               'EstateAge', 'EstateSerial', 'EstateFloor', 'EstateBedrooms', 'EstateParkings',
                               'Area', 'TotalPrice', 'PricePerMeter', 'PrepaymentPrice', 'MortagePrice', 'HasParking',
                               'EstateSerial'];
            for (var j = 0 ; j < field_names.length ; j++){
                search_params[field_names[j]] = false;
            }
            search_params['AreaFrom'] = 0;
            search_params['AreaTo'] = 1000000;
            search_params['TotalPriceFrom'] = 0;
            search_params['TotalPriceTo'] = 100000000000;
            search_params['PricePerMeterFrom'] = 0;
            search_params['PricePerMeterTo'] = 100000000;
            search_params['PrepaymentPriceFrom'] = 0;
            search_params['PrepaymentPriceTo'] = 1000000000;
            search_params['MortagePriceFrom'] = 0;
            search_params['MortagePriceTo'] = 1000000000;
        }

        function clearSearchResult() {
            $('.estate').each(function () {
                $(this).remove();
            });
            $('.page-separator').each(function () {
                $(this).remove();
            });
        }

        function go_to_details(id) {
            window.location = "/Estate/EstateDetails?EstateID=" + id;
        }

        function changeSortOrder(elem) {
            clearSearchResult();
            var page = parseInt($("#fetchMore").attr("data-page"));
            doSearch(search_params, page);
        }

        function getQueryStringByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        
        function createSearchResultSection(data, page) {
            var htmls = [];
            htmls.push('<div class="page-separator">صفحه ' + turn2PersianNumber(page) + '</div>');
            for (var i = 0 ; i < data.length ; i++) {
                var html =  '<div class="estate" data-state-id="' + data[i].ID + '">' + 
	                            '<div class="col-md-3">' + 
		                            '<img src="/Content/estate_images/' + data[i].ImageSrc + '" />' +
		                            '<label class="img-count number"> ' + data[i].ImageCount + ' عکس</label>' +
	                            '</div>' + 
	                            '<div class="col-md-5">' + 
		                            '<table></table>' + 
		                            '<i class="glyphicon glyphicon-usd">&nbsp;</i><label class="price header">' + numberWithCommas(data[i].TotalPrice) + '</label><br />' +
		                            '<i class="glyphicon glyphicon-pushpin">&nbsp;</i><label class="number sub-header">' + data[i].Address + ' - ' + turn2PersianNumber(data[i].Area) + ' متر - متری <span class="price">' + numberWithCommas("4500000") + '</span></label>' +
		                            '<p class="number" style="margin-top:8px;">2 خوابه - نوساز - طبقه سوم - 3 واحدی</p>' + 
	                            '</div>' + 
	                            '<div class="col-md-3" style="border: 1px outset black; margin-top:4px;">' + 
		                            '<br />' + 
		                            '<label class="number normal">کد ملک: ' + turn2PersianNumber(data[i].Serial) + '</label><br />' +
		                            '<label class="number normal">تاریخ: ' + convertToJalaliDate(data[i].Date) + '</label><br />' +
		                            '<i class="glyphicon glyphicon-heart-empty favourite" style="font-size:16px;" data-state-id="' + data[i].ID + '"></i> علاقه مندی<br /><br />' +
	                            '</div>' + 
	                            '<a class="col-md-1 goto_details" href="/Estate/EstateDetails?EstateID=' + data[i].ID + '" target="_blank">' +
		                            '<i class="glyphicon glyphicon-chevron-left"></i> مشاهده جزئیات ملک' + 
	                            '</a>' + 
                            '</div>';
                htmls.push(html);
            }
            for (var j = 0 ; j < htmls.length ; j++)
                $(".loading").before(htmls[j]);
            $(".loading.text-center").css('display', 'none');
            fix_numbers();
            if (mod(data.length, 10) !== 0) {
                $("#fetchMore").css('display', 'none');
            }
            else {
                $("#fetchMore").css('display', 'initial');
            }
        }

        function doSearch(params, page) {
            var order;
            switch ($("#sortResult").val()) {
                case '1': order = "date"; break;
                case '2': order = "area"; break;
                case '3': order = "area_desc"; break;
                default: order = "date";
            }
            $(".loading.text-center").css('display', 'block');
            $.ajax({
                url: '/Estate/DoSearch',
                method: 'POST',
                dataType: 'json',
                data: JSON.stringify({"_params": params, "page": page, "order": order}),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    createSearchResultSection(data, page);
                },
                error: function () {

                },
            });
        }

        function show_faves(elem) {
            if (elem.checked) {
                $(".estate").each(function () {
                    if (!$(this).find('.yes').length) {
                        $(this).fadeOut('slow');
                    }
                });
            }
            else {
                $(".estate").each(function () {
                    if (!$(this).find('.yes').length) {
                        $(this).fadeIn('slow');
                    }
                });
            }
        }

        function only_image_filter(elem) {
            clearSearchResult();
            (elem.checked) ? search_params['HasImage'] = true : search_params['HasImage'] = false;
            doSearch(search_params, 1);
        }

        $(document).ready(function () {
            $("body").on('click', '.favourite', function () {
                var $self = $(this);
                if ($self.hasClass('yes')) {
                    $self.removeClass('yes').removeClass('glyphicon-heart').addClass('glyphicon-heart-empty').css('color', 'black');
                }
                else {
                    $self.addClass('yes').removeClass('glyphicon-heart-empty').addClass('glyphicon-heart').css('color', 'red');
                }
            });

            $(".show-type > a").click(function () {
                var $self = $(this);
                if (!$self.hasClass("active")) {
                    $(".show-type > a").removeClass("active");
                    $self.toggleClass("active").css("text-decoration", "none");
                }
            });

            $("#fetchMore").click(function () {
                var page = parseInt($(this).attr("data-page")) + 1;
                doSearch(search_params, page);
                $(this).attr("data-page", page);
            });

            $("#advancedSearch").click(function () {
                var $i = $(this).find('.glyphicon');
                if ($i.hasClass('glyphicon-chevron-down')) {
                    $i.removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                    $('.advanced-section').show('slow');
                }
                else {
                    $i.removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                    $('.advanced-section').hide('slow');
                }
            });

            $("#search_btn").click(function () {
                initialSearchParams();
                var field_names = ['EstateType', 'EstateCity', 'EstateDistrict', 'EstateCondition',
                                   'EstateAge', 'EstateSerial', 'EstateFloor', 'EstateBedrooms', 'EstateParkings',
                                   'EstateSerial'];
                for (var i = 0 ; i < field_names.length ; i++) {
                    var $elem = $('#' + field_names[i]);
                    if ($elem.val() !== '' && $elem.val() !== '0') {
                        search_params[field_names[i]] = true;
                        if (field_names[i] === 'EstateCondition')
                            search_params[field_names[i] + 'Value'] = $elem.val() === '1' ? "فروش" : ($elem.val() === '2' ? "رهن" : "اجاره");
                        else
                            search_params[field_names[i] + 'Value'] = turn2EnglishNumber($elem.val());
                    }
                    else
                        search_params[field_names[i]] = false;
                }
                if ($("#AreaFrom").val() !== '') {
                    search_params['Area'] = true;
                    search_params['AreaFrom'] = turn2EnglishNumber($("#AreaFrom").val());
                }
                if ($("#AreaTo").val() !== '' ) {
                    search_params['Area'] = true;
                    search_params['AreaTo'] = turn2EnglishNumber($("#AreaTo").val());
                }
                if ($("#EstateCondition").val() === '1') {
                    if ($("#TotalPriceFrom").val() !== '') {
                        search_params['TotalPrice'] = true;
                        search_params['TotalPriceFrom'] = turn2EnglishNumber($("#TotalPriceFrom").val());
                    }
                    if ($("#TotalPriceTo").val() !== '') {
                        search_params['TotalPrice'] = true;
                        search_params['TotalPriceTo'] = turn2EnglishNumber($("#TotalPriceTo").val());
                    }
                    if ($("#PricePerMeterFrom").val() !== '') {
                        search_params['PricePerMeter'] = true;
                        search_params['PricePerMeterFrom'] = turn2EnglishNumber($("#PricePerMeterFrom").val());
                    }
                    if ($("#PricePerMeterTo").val() !== '') {
                        search_params['PricePerMeter'] = true;
                        search_params['PricePerMeterTo'] = turn2EnglishNumber($("#PricePerMeterTo").val());
                    }
                }
                else {
                    if ($("#PrepaymentPriceFrom").val() !== '') {
                        search_params['PrepaymentPrice'] = true;
                        search_params['PrepaymentPriceFrom'] = turn2EnglishNumber($("#PrepaymentPriceFrom").val());
                    }
                    if ($("#PrepaymentPriceTo").val() !== '') {
                        search_params['PrepaymentPrice'] = true;
                        search_params['PrepaymentPriceTo'] = turn2EnglishNumber($("#PrepaymentPriceTo").val());
                    }
                    if ($("#MortagePriceFrom").val() !== '') {
                        search_params['MortagePrice'] = true;
                        search_params['MortagePriceFrom'] = turn2EnglishNumber($("#MortagePriceFrom").val());
                    }
                    if ($("#MortagePriceTo").val() !== '') {
                        search_params['MortagePrice'] = true;
                        search_params['MortagePriceTo'] = turn2EnglishNumber($("#MortagePriceTo").val());
                    }
                }
                if (document.getElementById("HasParking")) {
                    search_params['HasParking'] = document.getElementById("HasParking").checked;
                }

                $("#fetchMore").attr("data-page", 1);
                clearSearchResult();
                doSearch(search_params, 1);
            });

            var condition = getQueryStringByName("cond") === '1' ? "فروش" : (getQueryStringByName("use") === '2' ? "رهن" : "اجاره");
            var usage = getQueryStringByName("use") === '2' ? "کلنگی و مشارکتی" : (getQueryStringByName("use") === '3' ? "تجاری و اداری" : "مسکونی");
            search_params = {
                EstateUsage: true,
                EstateUsageValue: usage,
                EstateCondition: true,
                EstateConditionValue: condition,
            }

            doSearch(search_params, 1);

            $(".search-fields").on({
                keydown: function (e) {
                    if ((notInRange(e.keyCode, 48, 57) && notInRange(e.keyCode, 96, 105) && e.keyCode !== 8 && e.keyCode !== 46) || e.shiftKey) {
                        e.preventDefault();
                    }
                    return true;
                },
                focus : function () {
                    $(this).select();
                },
                keyup: function () {
                    var $self = $(this);
                    var new_val = $self.val().replace(/,/g, '');
                    if ($self.hasClass('price-type'))
                    {
                        $self.val(inputNumberWithCommas(turn2EnglishNumber(new_val)));
                    }
                    else
                        $self.val(turn2PersianNumber(new_val));
                }
            }, "input");

            $("#EstateCondition").change(function () {
                if ($(this).val() === '1') {
                    $("#PrepaymentPriceFrom").attr('placeholder', 'حداقل قیمت کل (تومان)').attr('id', 'TotalPriceFrom');
                    $("#PrepaymentPriceTo").attr('placeholder', 'حداکثر قیمت کل (تومان)').attr('id', 'TotalPriceTo');
                    $("#MortagePriceFrom").attr('placeholder', 'حداقل قیمت هر متر (تومان)').attr('id', 'PricePerMeterFrom');
                    $("#MortagePriceTo").attr('placeholder', 'حداکثر قیمت هر متر (تومان)').attr('id', 'PricePerMeterTo');
                }
                else {
                    $("#TotalPriceFrom").attr('placeholder', 'حداقل قیمت ودیعه (تومان)').attr('id', 'PrepaymentPriceFrom');
                    $("#TotalPriceTo").attr('placeholder', 'حداکثر قیمت ودیعه (تومان)').attr('id', 'PrepaymentPriceTo');
                    $("#PricePerMeterFrom").attr('placeholder', 'حداقل قیمت اجاره (تومان)').attr('id', 'MortagePriceFrom');
                    $("#PricePerMeterTo").attr('placeholder', 'حداکثر قیمت اجاره (تومان)').attr('id', 'MortagePriceTo');
                }
            });

            $("#EstateCondition").val(getQueryStringByName("cond")).trigger('change');
        });
    </script>
}
