@{
    ViewBag.Title = "ثبت موفقیت آمیز";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Amirhome.CustomHelpers

<style>
    .wrap {
        padding: 50px;
        min-height: 580px;
    }

    .text {
        font-size: 19px;
    }

    .note {
        background-color: #ddf3a5;
        padding: 40px;
    }
</style>

<div class="wrap">
    <h1 class="text-center"><img src="~/Content/shared_images/logo1.png" style="margin: 0 auto;" /></h1>
    <div class="note">
        <p class="text">
            آگهی شما با موفقیت ثبت گردید.
        </p>
        <p class="text">
            پس از تأیید آگهی شما توسط مسئولین سایت، ملک شما در سایت قابل نمایش خواهد بود. مدت زمان نمایش آگهی سه ماه از تاریخ ثبت می باشد.
        </p>
        <p class="text">
            با تشکر از انتخاب شما
        </p>
    </div>
</div>

