
@{
    ViewBag.Title = "آگهی ها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/AdverSearchStyle.css" />

<div class="container body-content ad-search" style=" margin-top: 50px; min-height:550px;">
    <br />
    <div class="row">
        <div class="col-md-5">
            <div class="search-elements content" style="margin-bottom:20px; position:fixed; min-width: 37%;">
                <div class="caption text-center">
                    جستجو در آگهی ها
                </div>
                <div class="elements">
                    <label style="font-weight:normal; font-size:16px; min-width: 100px;">حداقل متراژ</label>
                    <input type="range" id="min-area" min="0" max="1000" step="10" value="10" data-orientation="vertical" />&nbsp;
                    <label style="font-weight:normal">۱۰ متر</label>
                    <br />
                    <label style="font-weight:normal; font-size:16px; min-width: 100px;">حداکثر متراژ</label>
                    <input type="range" id="max-area" min="0" max="3000" step="10" value="3000" data-orientation="vertical" />&nbsp;
                    <label style="font-weight:normal">۳۰۰۰ متر</label>
                    <hr />
                    <label style="font-weight:normal; font-size:16px; min-width: 100px;">حداقل قیمت کل</label>
                    <input type="range" id="min-area" data-price="true" min="30000000" max="1000000000" step="1000000" value="30000000" data-orientation="vertical" />&nbsp;
                    <label style="font-weight:normal">۳۰,۰۰۰,۰۰۰ تومان</label>
                    <br />
                    <label style="font-weight:normal; font-size:16px; min-width: 100px;">حداکثر قیمت کل</label>
                    <input type="range" id="max-area" data-price="true" min="30000000" max="10000000000" step="1000000" value="10000000000" data-orientation="vertical" />&nbsp;
                    <label style="font-weight:normal">۱۰,۰۰۰,۰۰۰,۰۰۰ تومان</label>
                    <hr />
                    <label style="font-weight:normal; font-size:16px; min-width: 100px;">حداقل قیمت متری</label>
                    <input type="range" id="min-area" data-price="true" min="1000000" max="50000000" step="500000" value="1000000" data-orientation="vertical" />&nbsp;
                    <label style="font-weight:normal">۱,۰۰۰,۰۰۰ تومان</label>
                    <br />
                    <label style="font-weight:normal; font-size:16px; min-width: 100px;">حداکثر قیمت متری</label>
                    <input type="range" id="max-area" data-price="true" min="1000000" max="50000000" step="50000" value="50000000" data-orientation="vertical" />&nbsp;
                    <label style="font-weight:normal">۵,۰۰۰,۰۰۰ تومان</label>
                    <hr />
                    <label style="font-weight:normal; font-size:16px; min-width: 100px;">نوع واگذاری</label>
                    <select class="form-control" style="display:inline; margin-right:10px;">
                        <option value="فروش" selected="selected">فروش</option>
                        <option value="رهن">رهن</option>
                        <option value="اجاره">اجاره</option>
                    </select>
                    <br />
                    <br />
                    @*<label style="font-weight:normal; font-size:16px; min-width: 100px;">آدرس</label>
                    <input class="form-control" type="text" style="display:inline"/>*@
                    <input id="adver-search" class="btn btn-primary" style="min-width:70px; float:left; margin:10px;" value="جستجو" />
                </div>
            </div>
        </div>
        <div class="col-md-7"></div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="range"').on('input change', function () {
                var val = ($(this).val());
                if ($(this).data('price')) {
                    $(this).next().html(inputNumberWithCommas(val) + ' تومان');
                }
                else {
                    $(this).next().html(turn2PersianNumber(val) + ' متر');
                }
            })
        });
    </script>
}
