@{
    ViewBag.Title = "مشاورین مسکن امیر";
}

<div class="banner">
    <div class="banner-content">
        <h1>مشاورین املاک امیر</h1>
        <div class="row banner-panel">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2>جستجوی ملک</h2>
                        <p style="margin:0;">(برای خرید یا اجاره)</p>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>
                                    <select id="states">
                                        <option value="0">استان</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="city">
                                        <option value="0">شهر</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="district">
                                        <option value="0">محله</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="condition">
                                        <option value="0">نوع واگذاری</option>
                                        <option value="1">فروش</option>
                                        <option value="2">رهن</option>
                                        <option value="3">اجاره</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="usage">
                                        <option value="0">نوع کاربری ملک</option>
                                        <option value="1">مسکونی</option>
                                        <option value="2">کلنگی و مشارکتی</option>
                                        <option value="3">تجاری و اداری</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="type">
                                        <option value="0">نوع ملک</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align:center;">
                                    <input id="search_estate" style="min-width:100px;" type="button" class="btn btn-primary" value="جستجو" />
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2>سپردن ملک</h2>
                        <p style="margin:0;">(برای خرید یا اجاره)</p>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>
                                    <select id="states">
                                        <option value="0">استان</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="city">
                                        <option value="0">شهر</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="district">
                                        <option value="0">محله</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="condition">
                                        <option value="0">نوع واگذاری</option>
                                        <option value="1">فروش</option>
                                        <option value="2">رهن</option>
                                        <option value="3">اجاره</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="usage">
                                        <option value="0">نوع کاربری ملک</option>
                                        <option value="1">مسکونی</option>
                                        <option value="2">کلنگی و مشارکتی</option>
                                        <option value="3">تجاری و اداری</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="type">
                                        <option value="0">نوع ملک</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align:center;">
                                    <input style="min-width:100px;" id="submit_estate" type="button" class="btn btn-primary" value="سپردن ملک" />
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<section id="occasion" class="slider fade-animate">
    <h1 class="text-center" style="color:#00578f; font-weight:bold; margin-bottom:30px;">ویژه های مسکن</h1>
    <div class="occasion row" style="margin:20px 20px 0 20px;">
        <div class="col-md-3 ">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <label>فروش - ۱۵۰ متر</label>
                    <h3>گیشا</h3>
                </div>
                <div class="panel-body">
                    <div class="occasion-desc">
                        <p>موقعیت عالی</p>
                    </div>
                    <img src="~/Content/estate_images/sample.jpg" />
                    <div class="img-count">۸ عکس</div>
                </div>
                <div class="panel-footer">
                    <p class="main-price">قیمت پیش: ۱۰۰۰۰۰۰۰۰ تومان</p>
                    <p class="second-price">&nbsp;</p>
                    <p class="date">28/8/1395</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <label>فروش - ۱۵۰ متر</label>
                        <h3>گیشا</h3>
                    </div>
                    <div class="panel-body">
                        <div class="occasion-desc">
                            <p>نورگیر عالی - خوش نقشه - فول امکانات </p>
                        </div>
                        <img src="~/Content/estate_images/sample.jpg" />
                        <div class="img-count">۸ عکس</div>
                    </div>
                    <div class="panel-footer">
                        <p class="main-price">قیمت پیش: ۱۰۰۰۰۰۰۰۰ تومان</p>
                        <p class="second-price">&nbsp;</p>
                        <p class="date">28/8/1395</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <label>فروش - ۱۵۰ متر</label>
                    <h3>گیشا</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Content/estate_images/sample.jpg" />
                    <div class="img-count">۸ عکس</div>
                </div>
                <div class="panel-footer">
                    <p class="main-price">قیمت پیش: ۱۰۰۰۰۰۰۰۰ تومان</p>
                    <p class="second-price">&nbsp;</p>
                    <p class="date">28/8/1395</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <label>فروش - ۱۵۰ متر</label>
                    <h3>گیشا</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Content/estate_images/sample.jpg" />
                    <div class="img-count">۸ عکس</div>
                </div>
                <div class="panel-footer">
                    <p class="main-price">قیمت پیش: ۱۰۰۰۰۰۰۰۰ تومان</p>
                    <p class="second-price">قیمت اجاره: ۱۰۰۰۰۰۰۰۰ تومان</p>
                    <p class="date">28/8/1395</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center" style="margin-bottom:20px;">
        <a class="btn btn-primary text-center" style="font-size:larger">مشاهده موارد بیشتر</a>
    </div>
</section>

<section id="about" class="about-section">
    <div class="about-banner"></div>
</section>

@section scripts{
    <script type="text/javascript" src="~/Scripts/jquery.backstretch.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slick.js"></script>
    <script type="text/javascript">
        function getOccasionsFromServer() {
            var data;

        }
        $(document).ready(function () {
            //attach banner image to banner section
            $(".banner").backstretch(['/Content/banner_images/bg1.jpg', '/Content/banner_images/bg2.jpg', '/Content/banner_images/bg3.jpg'], { fade: 550, duration: 4000 });
            $(".banner-panel").fadeIn(550);
            //attach plane image to plane section
            $(".about-banner").backstretch('/Content/banner_images/pelan.jpg');
            //occasion panels style
            $(".occasion .panel").hover(function () {
                $(this).find('.occasion-desc').fadeIn(450);
            }, function () {
                $(this).find('.occasion-desc').fadeOut(450);
            });


        });

        $(window).on("load", function () {
            $(window).scroll(function () {
                $(".fade-animate").each(function () {
                    /* Check the location of each desired element */
                    var objectBottom = $(this).offset().top + $(this).outerHeight();
                    var windowBottom = $(window).scrollTop() + $(window).innerHeight();

                    /* If the element is completely within bounds of the window, fade it in */
                    if (objectBottom - 200 < windowBottom) { //object comes into view (scrolling down)
                        if ($(this).css("opacity") == 0) { $(this).fadeTo(500, 1); }
                    }
                });
            }); $(window).scroll(); //invoke scroll-handler on page-load
        });

    </script>
}